<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contractual Ovulation w/ Strumpet & Non</h2>
                <h3 class="section-heading">Let Us Tell You What You're Wrong About!</h3>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-lg-3 col-lg-offset-3">
                <a class="light-link" href="https://twitter.com/steampunkmuppet" target="_blank">
                    <img class="img-responsive img-circle" src="/assets/img/steampunkmuppet.jpg" alt="@steampunkmuppet">
                    <h3 class="text-center">SteampunkMuppet</h3>
                </a>
                <!--<hr class="light">-->
                <p class="text-center text-faded">Veteran, Mom, P1, Dallas Stars fan, etc. I cuss a lot. Possibly a cyclon. Co-host of fake podcast "Contractual Ovulation" w/ @Shann_ME</p>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-lg-3">
                <a class="light-link" href="https://twitter.com/shann_me" target="_blank">
                    <img class="img-responsive img-circle" src="/assets/img/shann_me.jpg" alt="@shann_me">
                    <h3 class="text-center">Shann_ME</h3>
                </a>
                <!--<hr class="light">-->
                <p class="text-center text-faded">I don't tweet, so there's no need to follow me. Host of fake podcast “Contractual Ovulation” with @steampunkmuppet</p>
            </div>
        </div>
    </div>
</section>
