<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">More Pods Releasing Soon From the Flowout Podcast Network!</h2>
                <hr class="primary">
            </div>
            <div class="col-md-3 col-md-offset-3 text-center">
                <i class="fas fa-skull-crossbones fa-3x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <h3>Oh! A Murder!</h3>
                <p>A random group of strangers form a bond in the DMs and take turns
                talking about who they'd like to murder.</p>
            </div>
            <div class="col-md-3 text-center">
                <img class="wow bounceIn" data-wow-delay=".1s" src="/assets/img/avocado.png" style="max-width:42px">
                <h3>Purse Avocado</h3>
                <p>We’ll cover topics such as parenting, drinking beer & destroying the patriarchy.</p>
                </a>
            </div>
        </div>
    </div>
</section>
