<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/Shann_ME/status/1060283603026931713" class="portfolio-box" target="_blank">
                    <img src="/assets/img/portfolio/bean.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Bean Pics
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/SteampunkMuppet/status/1091011038768758789" class="portfolio-box" target="_blank">
                    <img src="/assets/img/portfolio/birthdays.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Birthday Wishes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/SteampunkMuppet/status/1086299716177051653" class="portfolio-box">
                    <img src="/assets/img/portfolio/dag.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Dags
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/Shann_ME/status/1090385344070074369" class="portfolio-box" target="_blank">
                    <img src="/assets/img/portfolio/flintstone.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Last Place Drawings
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/Shann_ME/status/1076581864628989953" class="portfolio-box" target="_blank">
                    <img src="/assets/img/portfolio/poor-people.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Dunking on Poor People
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://twitter.com/SteampunkMuppet/status/1074410714830393345" class="portfolio-box" target="_blank">
                    <img src="/assets/img/portfolio/nightmare.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Nightmare Fuel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
