<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hot. Sports. Opinions.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-football-ball wow bounceIn text-primary"></i>
                    <h3 class="wow bounceIn">Breaking Sports News</h3>
                    <blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">I’m hearing via <a href="https://twitter.com/SteampunkMuppet?ref_src=twsrc%5Etfw">@SteampunkMuppet</a> of noted podcast Contractual Ovulation that Kyler Murray has declared for the NFL draft. Back to you, Jenny. <a href="https://t.co/wVMeHPnxay">https://t.co/wVMeHPnxay</a></p>
                        &mdash; Shannon (@Shann_ME) <a href="https://twitter.com/Shann_ME/status/1084921343299239942?ref_src=twsrc%5Etfw">January 14, 2019</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-hockey-puck wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3 class="wow bounceIn" data-wow-delay=".1s">Hockey Analysis</h3>
                    <blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">Holy shit lol <a href="https://t.co/ztK1eSYSta">https://t.co/ztK1eSYSta</a></p>
                        &mdash; Socialist Jenny (@SteampunkMuppet) <a href="https://twitter.com/SteampunkMuppet/status/1094092012469526529?ref_src=twsrc%5Etfw">February 9, 2019</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-theater-masks wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3 class="wow bounceIn" data-wow-delay=".2s">Hamilton</h3>
                    <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">Occasional breaks to discuss Hamilton</p>
                        &mdash; Shannon (@Shann_ME) <a href="https://twitter.com/Shann_ME/status/819642158605094912?ref_src=twsrc%5Etfw">January 12, 2017</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-poop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3 class="wow bounceIn" data-wow-delay=".3s">Cussing!</h3>
                    <blockquote class="twitter-tweet" data-conversation="none" data-lang="en" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">Can I do a segment of cussing the shit out of the Stars for 5 solid minutes?</p>
                        &mdash; Socialist Jenny (@SteampunkMuppet) <a href="https://twitter.com/SteampunkMuppet/status/819643108803641345?ref_src=twsrc%5Etfw">January 12, 2017</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 col-lg-offset-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-baseball-ball wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3 class="wow bounceIn" data-wow-delay=".4s">Dave Winfield Jokes</h3>
                    <blockquote class="twitter-tweet" data-conversation="none" data-lang="en" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">Lol!! Just a little Dave Winfield humor between friends.</p>
                        &mdash; Shannon (@Shann_ME) <a href="https://twitter.com/Shann_ME/status/1092605376481161216?ref_src=twsrc%5Etfw">February 5, 2019</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-angry wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3 class="wow bounceIn" data-wow-delay=".5s">More Cussing!</h3>
                    <blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-link-color="#e51c4a">
                        <p lang="en" dir="ltr">Gonna start a podcast where I just yell FUCK over and over again for 30 minutes</p>
                        &mdash; Socialist Jenny (@SteampunkMuppet) <a href="https://twitter.com/SteampunkMuppet/status/1022530536559063041?ref_src=twsrc%5Etfw">July 26, 2018</a>
                    </blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>
    </div>
</section>
